#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 430px;
}
.simple-block {
    width: 300px;
    height: 600px;
}

.part-one {
    display: inline-flex;
    flex-direction: column;
    padding: inherit;
}

.part-two {
    display: inline-flex;
    flex-direction: column;
    padding: inherit;
}

#person {
    padding: 5px;
}

label {
    padding: inherit;
}

button {
    margin: 3px;
}
/* input {
    padding: inherit;
} */

table, th, td {
    border: 1px solid black;
}

tbody>tr:hover {
    background: dodgerblue;
    opacity: 0.3;
    cursor: pointer;
}

.selected {
    background: aquamarine;
}

#phone {
    margin: 20px auto;
}

#attachment {
    margin: 20px auto;
}

#add-phone-modal {

}

#user_id {
    display: none;
}

.image-holder {
    width: 300px;
    height: 300px;
    border: black solid 1px;
}