form {
    margin: auto;
    width: 845px;
    height: 300px;
}

label {
    display: block;
    margin-top: 20px;
}

input {
    margin: 5px auto;
}

#buttons {
    margin-top: 10px;
    width: 200px;
}