<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/add.css">
    <link rel="stylesheet" href="./css/modal.css">
    <title>Add</title>
</head>

<body>
    <div id="container">
        <div id="person">
            <div class="part-one">
                <label for="name">Name</label>
                <input type="text" id="name">

                <label for="surname">Surname</label>
                <input type="text" name="" id="surname">

                <label for="middlename">Middlename</label>
                <input type="text" name="" id="middlename">

                <label for="datebirth">Datebirth</label>
                <input type="date" name="" id="datebirth">

                <label for="gender">Gender</label>
                <select name="" id="gender">
                    <option value="">male</option>
                    <option value="">female</option>
                </select>

                <label for="citizenship">Citizenship</label>
                <input type="text" name="" id="citizenship">

                <label for="family-status">Family status</label>
                <select name="" id="family-status">
                    <option value="">single</option>
                    <option value="">married</option>
                </select>
            </div>

            <div class="part-two">
                <label for="web-site">Website</label>
                <input type="text" name="" id="web-site">

                <label for="email">Email</label>
                <input type="email" name="" id="email">

                <label for="currentjob">Currentjob</label>
                <input type="text" name="" id="currentjob">

                <label for="country">Country</label>
                <input type="text" name="" id="country">

                <label for="city">City</label>
                <input type="text" name="" id="city">

                <label for="street-house-apart">Street/House/Apart</label>
                <input type="text" name="" id="street-house-apart">

                <label for="index">Index</label>
                <input type="number" name="" id="index">
            </div>
        </div>

        <div id="phone">
            <table id="phone-table">
                <thead>
                    <td>Phone number</td>
                    <td>Description</td>
                    <td>Comments</td>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div id="attachment">
            <table id="attachment-table">
                <thead>
                    <td>File name</td>
                    <td>Load date</td>
                    <td>Comments</td>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div>
            <button id="cancel-button">Back</button>
        </div>
    </div>
    <div class="simple-block"></div>
    <script src="./script/fill-inputs.js"></script>
</body>
</html>