<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Email</title>
    <link rel="stylesheet" href="./css/email.css">
</head>

<body>
    <header></header>
    <main>
        <form>
            <label for="">Receivers</label>
            <input type="text" disabled="true" id="receivers">

            <label for="patterns">Patterns</label>
            <select id="patterns">
                <option value="">New Year congrats.</option>
                <option value="">Birthday congrats</option>
                <option value="">One more pattern</option>
            </select>

            <label for="theme">Theme</label>
            <input type="text" id="theme">

            <label for="content">Message Content</label>
            <textarea id="content" cols="50" rows="10"></textarea>

            <div id="buttons">
                <button id="send-email-button">Send email</button>
                <button id="cancel-button">Cancel</button>
            </div>
        </form>
    </main>
    <footer></footer>

    <script src="./script/message-patterns.js"></script>
    <script src="./script/send-email.js"></script>
    <script src="./script/fill-receivers.js"></script>
</body>

</html>