<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="./css/tabbed_pane_style.css">
</head>
<body>
    <header></header>
    <main>
        <table id="myTable">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Company</th>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <button id="add-button">Add</button>
        <button id="edit-button">Edit</button>
        <button id="delete-button">Delete</button>
        <button id="search-button">Search</button>
        <button id="send-button">Send</button>
    </footer>
    
    <script src="./script/index.js"></script>
    <script src="./script/bind_buttons.js"></script>
    <!-- <script src="test.js"></script> -->
</body>
</html>