<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css">
    <link rel="stylesheet" href="./css/tabbed_pane_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header></header>
    <main>
        <input type="number" id="input-for-current-page">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th id="boxes"></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="page-buttons">
            <button type="button" class="btn btn-primary" id="previous">Previous</button>
            <button type="button" class="btn btn-primary" id="next">Next</button>
        </div>
    </main>

    <footer>
        <button id="add-button" type="button" class="btn btn-primary">Add</button>
        <button id="edit-button" type="button" class="btn btn-primary">Edit</button>
        <button id="delete-button" type="button" class="btn btn-primary">Delete</button>
        <button id="about-button" type="button" class="btn btn-primary">About</button>
        <button id="send-button" type="button" class="btn btn-primary">Send</button>
        <button id="go-over-search-button" type="button" class="btn btn-primary">Search</button>
        <button id="check-boxes-button" type="button" class="btn btn-primary"></button>
    </footer>

    <script src="./script/index.js"></script>
    <script src="./script/fill-table.js"></script>
    <script src="./script/bind-buttons.js"></script>
</body>

</html>