<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/stylesheet.css" type="text/css">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
    <header></header>
    <main>
        <div>
            <button id="search-button">Search</button>
            <input id="search-field" type="text">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th id="boxes"></th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Company</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

        <div id="page-buttons">
            <button id="previous">Previous</button>
            <button id="next">Next</button>
        </div>
    </main>
    <footer>
        <button id="edit-button">Edit</button>
        <button id="delete-button">Delete</button>
        <button id="send-button">Send</button>
        <button id="about-button">About</button>
        <button id="check-boxes-button"></button>
        <button id="advanced-search">Advanced Search</button>
    </footer>

    <div>
        <button id="back-to-index">Back</button>
    </div>

    <script src="./script/search.js"></script>
    <script src="./script/fill-table.js"></script>
    <script src="./script/bind-buttons.js"></script>
</body>

</html>